In [ ]:
import pandas as pd

:

In [3]:
import json

In [4]:
df = pd.read_csv('data.csv',  encoding='cp949')

In [5]:
df.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20221,D,발달상권,3120068,사가정역,CS200016,당구장,6207432.0,362,3619902.0,...,163,82,347,15,0,42,38,45,150,87
1,20221,A,골목상권,3110316,숭곡초등학교,CS300033,철물점,11755885.0,69,11755885.0,...,0,0,69,0,0,0,0,69,0,0
2,20221,R,전통시장,3130032,인현시장,CS200037,노래방,49610438.0,339,37313834.0,...,255,84,296,0,0,0,169,0,127,0
3,20221,D,발달상권,3120105,상수역(홍대),CS300001,슈퍼마켓,4091445.0,236,2589971.0,...,148,0,0,236,0,148,88,0,0,0
4,20221,A,골목상권,3110431,상계역,CS300001,슈퍼마켓,1828934.0,16,1828934.0,...,6,0,0,16,0,0,0,0,10,6

In [6]:
unique_quarters = df['기준_년분기_코드'].unique()
unique_trade_areas = df['상권_코드_명'].unique()
unique_service_types = df['서비스_업종_코드_명'].unique()

In [7]:
unique_quarters

array([20221, 20222, 20223, 20224])

In [8]:
len(unique_service_types)

63

In [9]:
len(unique_trade_areas)

1564

# json 만들기 테스트 (교수님 여기부터요)

In [10]:
male_data = df.copy()
female_data = df.copy()



male_data['성별'] = '남성'
female_data['성별'] = '여성'

male_data['성별_매출_금액'] = df['남성_매출_건수']
female_data['성별_매출_금액'] = df['여성_매출_건수']

In [11]:
combined_data = pd.concat([male_data, female_data])


grouped_gender_data = combined_data.groupby(['성별', '기준_년분기_코드', '서비스_업종_코드_명', '상권_코드_명'])['성별_매출_금액'].sum().reset_index()

# Display the grouped data
grouped_gender_data.head()

   성별  기준_년분기_코드 서비스_업종_코드_명         상권_코드_명  성별_매출_금액
0  남성      20221         PC방    KB국민은행 망원동지점     13694
1  남성      20221         PC방           가락시장역    144225
2  남성      20221         PC방             강남역     58010
3  남성      20221         PC방  강동역 4번(강풀만화거리)     61743
4  남성      20221         PC방            강서구청      3167

In [12]:
nested_json = grouped_gender_data.set_index(['성별', '기준_년분기_코드', '서비스_업종_코드_명', '상권_코드_명'])['성별_매출_금액']

In [13]:
nested_json

성별  기준_년분기_코드  서비스_업종_코드_명  상권_코드_명
남성  20221      PC방          KB국민은행 망원동지점       13694
                            가락시장역             144225
                            강남역                58010
                            강동역 4번(강풀만화거리)     61743
                            강서구청                3167
                                               ...
여성  20224      화초           홍대부속여중고앞             106
                            홍대입구역(홍대)          25647
                            화양사거리                641
                            회현역                  786
                            효창공원앞역 2번            407
Name: 성별_매출_금액, Length: 167146, dtype: int64

In [14]:

nested_dict = nested_json.groupby(level=[0, 1, 2, 3]).apply(lambda x: x.to_dict()).unstack().unstack().unstack().to_dict()

print({k: nested_dict[k] for k in list(nested_dict)[:1]})

:

In [ ]:
# json_data = grouped_gender_data.set_index(['성별', '기준_년분기_코드', '서비스_업종_코드_명', '상권_코드_명']).unstack().to_json(force_ascii=False)

:

In [ ]:
# check = json.loads(json_data)

:

: